<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
    <meta charset="UTF-8">
    <title>Employees</title>
  <link rel="stylesheet" href="./../static/styles/css/main.css"/>

</head>
<body style="background-color: darkseagreen">

    <navbar th:include="fragments/navbar"></navbar>

  <div style="background-color: darkseagreen">
    <div style="background-color: darkseagreen" class="container text-center">
<!--      <h1 class="display-4">Fluid jumbotron</h1>-->
<!--      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>-->


    <div th:if="${noEmployeesFound}">
      <h3 class="display-4">Sorry, no employees currently on your list.</h3>
    </div>

    <div th:each="employee : ${employees}">
      <h3 style="font-family: 'Ink Free'" class="display-6 font-italic" th:text="${employee.firstName}"></h3>
      <h3 style="font-family: 'Ink Free'" class="display-6 font-italic"  th:text="${employee.lastName}"></h3>
      <h3 style="font-family: 'Ink Free'" class="display-6 font-italic"  th:text="${employee.employeeNumber}"></h3>
      <h3 style="font-family: 'Ink Free'" class="display-6 font-italic"  th:text="${employee.userName}"></h3>
      <h3 style="font-family: 'Ink Free'" class="display-6 font-italic"  th:text="${employee.email}"></h3>

      <button class="bg-info text-dark" style="font-family: 'Ink Free'"><a class="text-dark" th:href="'/employees/' + ${employee.id} + '/edit'">Edit Info</a></button>
      <hr>
    </div>

    </div>

  </div>
</body>
</html>
