<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
    <meta charset="UTF-8">
    <title>Employee Info</title>
</head>
<body>

  <h1>View Employee</h1>

  <h3>First Name: <span th:text="${showEmployee.firstName}"></span></h3>
  <h3>Last Name: <span th:text="${showEmployee.lastName}"></span></h3>
  <h3>Employee Number: <span th:text="${showEmployee.employeeNumber}"></span></h3>
  <h3>Username: <span th:text="${showEmployee.userName}"></span></h3>
  <h3>Email: <span th:text="${showEmployee.email}"></span></h3>

  <button><a href="employees">Go Home</a></button>


</body>
</html>
